header {
  background-color: #131324;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 43px;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);

  &__logo {
    margin-right: 25px;
    display: flex;
    flex-direction: row;

    &__text {
      display: flex;
      flex-direction: column;
      line-height: 1em;
      &__sub-head {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  &__menu {
    height: 100%;
    width: 909px;
    transform: skew(20deg);
    background: #080812;

    ul {
      display: flex;
      flex-direction: row;
    }

    li {
      list-style: none;
      transform: skew(-20deg);
      padding-top: 14px;
      padding-left: 60px;
    }
  }

  &__login {
    margin-left: 34px;
  }

}