
.modal-container {
  padding: 30px 12px 30px 12px;
  background-color: #21243f !important;
  max-height: 100%;
  width: unset;
  display: inline-block;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text-line {
    margin-top: 15px;
    text-align: center;
  }
}

.modal-field {

  margin-top: 15px;

  &__header {
    margin-left: 8px;
    margin-bottom: 5px;
  }

  &__input {
    border-radius: 0;
    color: black;
    border: 1px #cdd5db solid;
    height: 22px;
    background-color: white;
  }
}

.modal-button {
  background-color: #131e2e;
  padding: 6px;
  margin-top: 15px;
}

.modal-social {
  display: none; // @todo: интеграция социальных сетей в авторизацию
  //display: flex;
  flex-direction: row;
  margin-top: 15px;

  img {
    margin-right: 5px;
  }

  img:last-child {
    margin: 0 !important;
  }
}