.anime-section {
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 19px;
    font-size: 42px;
    margin-bottom: 15px;
  }

  &__sort {
    display: flex;
    align-items: center;

    select {
      margin-left: 10px;
      max-width: 200px;
      height: 31px;
      width: 100%;
      background-color: #2d334e;
      border: 0;
      color: white;
      border-radius: 7px 7px 7px 7px;
    }
  }
}