.anime-list__block {
  background-color: #1e2331;
  padding-top: 25px;

  &__header {
    padding-bottom: 26px;
  }

  &__section {
    display: flex;
    padding-bottom: 38px;
    flex-direction: column;
    &__item {
      display: flex;
      flex-direction: row;
      padding-bottom: 43px;
      &__image {
        max-width: 230px;
      }

      &__detail {
        max-width: 503px;
        padding-left: 17px;
        &__header {
          padding-bottom: 15px;
        }
        &__genre {
          padding-bottom: 30px;
        }
      }
    }
    &__item:last-child {
      padding-bottom: 0 !important;
    }
  }

  &__filter {
    margin-top: -25px;
    margin-left: 75px;
    &__header-block {
      display: flex;
      flex-direction: row;
      h3 {
        padding-top: 8px;
        padding-left: 15px;
      }
      &__figure-up {
        margin-left: 44px;
        background-color: #26293f;
        width: 196px;
        height: 35px;
      }
    }
    &__container {
      max-width: 321px;
      width: 100%;
      background-color: #26293f;
      padding: 11px 0 15px 12px;

      &__item {
        padding-bottom: 11px;
        &__header {
          p {
            font-weight: bold;
            padding-bottom: 3px;
          }
        }
        &__select {
          select {
            max-width: 254px;
            height: 31px;
            width: 100%;
            background-color: #1e2331;
            border: 0;
            color: white;
          }
        }
      }
    }
  }

  &__container {
    padding-bottom: 33px;
    &__button {
      padding: 8px;
      max-width: 230px;
      width: 100%;
      background-color: #26293f;
      color: white;
      border: 1px solid #26293f;
      border-radius: 5px;
      font-size: 18px;
    }
  }
}