.detail-info {
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  &__images {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    padding-right: 31px;

    &__poster {
      padding-bottom: 10px;
    }

    &__frames {
      text-align: center;

      &__images {
        margin-top: 10px;
        display: flex;
        max-width: 230px;
        flex-wrap: wrap;

        img {
          padding-bottom: 1px;
          padding-top: 1px;
        }

        img:nth-child(2n) {
          padding-left: 2px;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    &__subheader {
      font-weight: normal;
    }

    &__options {
      margin-top: 30px;

      dl {
        display: flex;
        flex-direction: row;
        margin-bottom: 6px;
        dt {
          width: 60%;
          text-align: left;
          position: relative;
          word-break: break-word;
          box-sizing: border-box;
          display: block;
        }

        dd {
          width: 80%;
          text-align: left;
          padding-left: 9%;
        }
      }
    }

    &__description {
      margin-top: 60px;
      &__header {
        margin-bottom: 29px;
      }
      &__text {
        max-width: 800px;
      }
    }
  }

  &__rating {
    margin-left: 65px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;
    &__final {
      margin-left: 99px;

      &__value {
        font-size: 32px;
      }
    }

    &__stars {
      display: flex;
      margin-left: 43px;
      flex-direction: column;
      &__star {
        display: flex;
        height: 27px;
        width: 27px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: background 250ms ease-in-out, transform 150ms ease;
        margin-top: 2.5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.97 1.04l2.25 4.57c.16.32.46.54.81.59l5.05.73c.88.13 1.23 1.21.6 1.84l-3.66 3.55c-.25.25-.37.6-.3.96l.86 5.02c.15.88-.78 1.55-1.57 1.14l-4.5-2.37a1.08 1.08 0 00-1.01 0l-4.51 2.37a1.08 1.08 0 01-1.57-1.14l.87-5.02c.06-.35-.06-.7-.31-.96L.33 8.77c-.64-.63-.29-1.71.6-1.84l5.04-.73c.35-.05.65-.27.8-.6l2.26-4.56c.4-.8 1.54-.8 1.94 0z' fill='%23F4F4F4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      &__star:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.97 1.04l2.25 4.57c.16.32.46.54.81.59l5.05.73c.88.13 1.23 1.21.6 1.84l-3.66 3.55c-.25.25-.37.6-.3.96l.86 5.02c.15.88-.78 1.55-1.57 1.14l-4.5-2.37a1.08 1.08 0 00-1.01 0l-4.51 2.37a1.08 1.08 0 01-1.57-1.14l.87-5.02c.06-.35-.06-.7-.31-.96L.33 8.77c-.64-.63-.29-1.71.6-1.84l5.04-.73c.35-.05.65-.27.8-.6l2.26-4.56c.4-.8 1.54-.8 1.94 0z' fill='%23FFC700'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
      }
    }
  }
  &__player {
    text-align: center;
  }
  &__graphic-series {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
  }
}

.full-star {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.97 1.04l2.25 4.57c.16.32.46.54.81.59l5.05.73c.88.13 1.23 1.21.6 1.84l-3.66 3.55c-.25.25-.37.6-.3.96l.86 5.02c.15.88-.78 1.55-1.57 1.14l-4.5-2.37a1.08 1.08 0 00-1.01 0l-4.51 2.37a1.08 1.08 0 01-1.57-1.14l.87-5.02c.06-.35-.06-.7-.31-.96L.33 8.77c-.64-.63-.29-1.71.6-1.84l5.04-.73c.35-.05.65-.27.8-.6l2.26-4.56c.4-.8 1.54-.8 1.94 0z' fill='%23FFC700'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
}

.graphic-series {
  &__header {
    align-self: baseline;
    margin-bottom: 26px;
  }
  &__button {
    margin-top: 15px;
  }
}